<script setup>
import DataTable from 'datatables.net-vue3';
import DataTablesCore from 'datatables.net';

DataTable.use(DataTablesCore);

const columns = [
  { data: 'id', title: 'ID' },
  { data: 'email', title: 'Email' },
  { data: 'first_name', title: 'First Name' },
  { data: 'last_name', title: 'Last Name' },
  { data: 'avatar', title: 'Avatar' },
];

defineProps({
  apiURL: {
    type: String,
    required: true
  }
})

</script>

<template>
  <h1>User List</h1>
  <h3>Source: {{ apiURL }}</h3><br/>
  <DataTable
        :columns="columns"
        :ajax="apiURL"
        class="display"
    />
</template>

<style>
@import 'datatables.net-dt';
</style>
